<h2 layout="row" class="md-display-1">3. Grid selector</h2>
<p layout="row">Select the grid size you want:</p>
<div layout="row" class="grid-collection" layout-align="center start" layout-margin layout-wrap ng-init="$ctrl.init()">
    <div class="grid-collection-item" ng-repeat="item in $ctrl.getCollectionGrids()" md-whiteframe="1" flex="20" flex-xs="40" flex-sm="45" flex-md="20">
        <a title="{{ ::item.title }}" class="grid-content" ng-click="$ctrl.selectCollectionGrids(item.id)">
            <div class="grid-body">
                <img ng-src="{{ ::item.url }}">
            </div>
            <h3 class="grid-title" ng-bind="::item.title"></h3>
        </a>
    </div>
</div>
<div layout="row" layout-sm="column" layout-align="end center" layout-wrap layout-margin>
    <md-button ng-click="$ctrl.completeStep()" ng-disabled="$ctrl.areSelectedCollections()">
        Next <md-icon class="material-icons">&#xE409;</md-icon>
    </md-button>
</div>