<h2 layout="row" class="md-display-1">3. Customize your tiles patterns</h2>
<p layout="row">You can change color, rotate and delete the tiles</p>
<div layout="column" class="tile-customizer" ng-init="$ctrl.init()">
    <div class="tile-collection-tools">
        <ul layout="row" class="tile-selector">
            <li class="tile-clone-button">
                <button>
                    <md-tooltip>Add more tile designs</md-tooltip>
                    <md-icon class="material-icons">&#xE147;</md-icon>
                </button>
            </li>
            <li class="tile-selector-item" ng-repeat="item in $ctrl.getSelectedTiles()" ng-click="$ctrl.selectCustomTile(item)">
                <md-tooltip>{{ ::item.name }}</md-tooltip>
                <img ng-src="{{ ::item.url }}">
            </li>
        </ul>
    </div>
    <div class="work-table" layout="row" layout-fill>
        <div class="work-table-tiles" flex="40" layout-fill layout-wrap>
            <h3 layout="column">Tiles copied</h3>
            <ul>
                <li>
                    <button ng-repeat="item in $ctrl.getCustomTiles() track by $index" ng-click="$ctrl.selectTile(item)">
                        <tile-canvas id="button-tile-{{ $index }}" canvasid="#button-tile-{{ $index }}" tileurl="{{ item.url }}" tilexml="{{ item.xml }}"></tile-canvas>
                    </button>
                </li>
            </ul>
        </div>
        <div class="work-table-customizer" flex="60" layout-fill layout-wrap>
            <h3 layout="column">Tile customizer</h3>
            <div class="tile-tools">
                <ul>
                    <li ng-repeat="action in $ctrl.getTileActions()">
                        <button>
                            <md-tooltip ng-bind="::action.title"></md-tooltip>
                            <md-icon class="material-icons">{{ ::action.icon }}</md-icon>
                        </button>
                    </li>
                </ul>
            </div>
            <tile-canvas id="canvas" canvasid="#canvas" tileurl="{{ $ctrl.getSelectedTile().url }}" tilexml="{{ $ctrl.getSelectedTile().xml }}"></tile-canvas>
            <!--div id="canvas" ng-init="$ctrl.canvasInit('#canvas')"></div-->
        </div>
    </div>
</div>
<div class="step-action" layout-sm="column" layout-wrap layout-margin>
    <md-button ng-click="$ctrl.completeStep()">
        Next <md-icon class="material-icons">&#xE409;</md-icon>
    </md-button>
</div>