<h2 layout="row" class="md-display-1">3. Customize your tiles patterns</h2>
<p layout="row">You can change color, rotate and delete the tiles</p>
<div layout="rows" class="tile-customizer" ng-init="$ctrl.init()">
    <ul layouts="rows" class="tile-tools">
        <li class="tile-clone-button">
            <button>
                <md-tooltip>Add a clone of selected tiles</md-tooltip>
                <md-icon class="material-icons">&#xE147;</md-icon>
            </button>
        </li>
        <li class="tile-tool-item" ng-repeat="item in $ctrl.getSelectedTiles()"></li>
    </ul>
</div>
<div class="step-action" layout-sm="column" layout-wrap layout-margin>
    <md-button ng-click="$ctrl.completeStep()">
        Next <md-icon class="material-icons">&#xE409;</md-icon>
    </md-button>
</div>