<md-toolbar class="navigation-component">
    <div class="header md-toolbar-tools" layout="row">
        <div flex="80">
            <a href="/">
                <h1 class="md-flex">Design Studio</h1>
            </a>
        </div>
        <div flex="20" layout="row" layout-align="end" >
            <md-menu class="menu-icon" md-position-mode="target-right target" ng-show="$ctrl.isAuthenticated()">
                <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-menu-origin class="material-icons preview" style="margin: auto 3px auto 0;">&#xE5D2;</md-icon>
                </md-button>
                <md-menu-content width="4" >
                    <md-menu-item>
                        <md-button ng-click="$ctrl.openProjectsView()">
                            <div layout="row" flex>
                                <p flex class="menu-item">My designs</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>
                            <div layout="row" flex>
                                <a href="https://www.youtube.com/watch?v=5FfUYDVN1QM" class="tutorial-link" target="_blank">Watch tutorial</a>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.logout()">
                            <div layout="row" flex>
                                <p flex class="menu-item">Sign out</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-toolbar>
