// App styles
@import "../../assets/styles/base/_mixins"
@import "../../assets/styles/base/_typography"
@import "../../assets/styles/base/_variables"

.navigation-component

  h1
    color: white

  .header img,
  .header h2
    display: inline-block

  .header .menu-item
    color: white
    cursor: pointer