<section class="login-component" layout-gt-sm="column" layout="column" layout-align="center center" flex layout-padding layout-fill>
    <div layout="row" layout-fill layout-align="center center">
        <div class="login-form" ng-if="$ctrl.isCurrentView($ctrl.VIEWS.LOGIN)" layout="row" layout-align="center center" flex="100" layout-fill>
            <div layout="column" flex="25" flex-sm="50" flex-xs="75">
                <hgroup>
                    <h1>
                        Sign in
                    </h1>
                </hgroup>
                <form name="$ctrl.loginForm" ng-submit="$ctrl.login()">
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input type="email" name="email" ng-model="$ctrl.credentials.email" required>
                        <div ng-messages="$ctrl.loginForm.email.$error" md-auto-hide="false">
                            <div ng-message="required">Email is required</div>
                            <div ng-message="email">Not a valid email</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input type="password" name="password" ng-model="$ctrl.credentials.password" required>
                        <div ng-messages="$ctrl.loginForm.password.$error" md-auto-hide="false">
                            <div ng-message="required">A password is required</div>
                        </div>
                    </md-input-container>
                    <md-input-container layout="row" layout-align="start center" >
                        <md-button type='submit' class="md-raised md-primary">Sign in</md-button>
                        <md-progress-circular md-mode="indeterminate" md-diameter="40" ng-if="$ctrl.loading"></md-progress-circular>
                    </md-input-container>
                    <div layout="column">
                        <md-button ng-click="$ctrl.changeView($ctrl.VIEWS.SIGNUP)">Create an account</md-button>
                        <md-button ng-click="$ctrl.changeView($ctrl.VIEWS.FORGOT)">Forgot your password?</md-button>
                    </div>
                </form>
            </div>
        </div>
        <div class="signup-form" ng-if="$ctrl.isCurrentView($ctrl.VIEWS.SIGNUP)" layout="row" layout-align="center center" flex="100" layout-fill>
            <div layout="column" flex="60" flex-sm="60" flex-xs="75">
                <hgroup>
                    <h1>
                        Create account
                    </h1>
                </hgroup>
                <form name="$ctrl.signupForm" ng-submit="$ctrl.signUp()">
                    <div layout="row" layout-sm="column" layout-xs="column" layout-padding>
                        <div layout="column" flex="50" flex-sm="100" flex-xs="100">
                            <md-input-container class="md-block">
                                <label>Your name</label>
                                <input type="text" name="name" ng-model="$ctrl.newUser.name" required>
                                <div ng-messages="$ctrl.signupForm.name.$error" md-auto-hide="false">
                                    <div ng-message="required">Your name is required</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>City</label>
                                <input type="text" name="city" ng-model="$ctrl.newUser.city" required>
                                <div ng-messages="$ctrl.signupForm.city.$error" md-auto-hide="false">
                                    <div ng-message="required">City is required</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>State/Province/Region</label>
                                <input type="text" name="state" ng-model="$ctrl.newUser.state" required>
                                <div ng-messages="$ctrl.signupForm.state.$error" md-auto-hide="false">
                                    <div ng-message="required">State/Province/Region is required</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Country</label>
                                <input type="text" name="country" ng-model="$ctrl.newUser.country" required>
                                <div ng-messages="$ctrl.signupForm.country.$error" md-auto-hide="false">
                                    <div ng-message="required">Country is required</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="column" flex="50" flex-sm="100" flex-xs="100">
                            <md-input-container class="md-block">
                                <label>Email</label>
                                <input type="email" name="email" ng-model="$ctrl.newUser.email" required>
                                <div ng-messages="$ctrl.signupForm.email.$error" md-auto-hide="false">
                                    <div ng-message="required">Email is required</div>
                                    <div ng-message="email">Not a valid email</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Password</label>
                                <input type="password" name="password" ng-model="$ctrl.newUser.password" minlength="8" required>
                                <div ng-messages="$ctrl.signupForm.password.$error" md-auto-hide="false">
                                    <div ng-message="required">A password is required</div>
                                    <div ng-message="minlength">Use at least 8 characters</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Confirm password</label>
                                <input type="password" name="confirmation" ng-model="$ctrl.newUser.confirmation" pw-check="$ctrl.newUser.password" required>
                                <div ng-messages="$ctrl.signupForm.confirmation.$error" md-auto-hide="false">
                                    <div ng-message="required">A password is required</div>
                                    <div ng-message="pwCheck">Passwords don't match</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Reference</label>
                                <input type="text" name="reference" ng-model="$ctrl.newUser.reference">
                                <div class="hint">Optional</div>
                            </md-input-container>
                        </div>
                    </div>
                    <md-input-container layout="row" layout-align="start center" layout-align-sm="center center" layout-align-xs="center center">
                        <md-button type='submit' class="md-raised md-primary">Create account</md-button>
                        <md-progress-circular md-mode="indeterminate" md-diameter="40" ng-if="$ctrl.loading"></md-progress-circular>
                    </md-input-container>
                    <div layout="column" layout-align="center center">
                        <md-button ng-click="$ctrl.changeView($ctrl.VIEWS.LOGIN)">Already have an account?</md-button>
                    </div>
                </form>
            </div>
        </div>
        <div class="forgot-form" ng-if="$ctrl.isCurrentView($ctrl.VIEWS.FORGOT)" layout="row" layout-align="center center" flex="100" layout-fill>
            <div layout="column" flex="25" flex-sm="50" flex-xs="75">
                <hgroup>
                    <h1>
                        Password recovery
                    </h1>
                </hgroup>
                <form name="$ctrl.forgotForm" ng-submit="$ctrl.recoverPassword()">
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input type="email" name="email" ng-model="$ctrl.forgot.email" required>
                        <div ng-messages="$ctrl.forgotForm.email.$error" md-auto-hide="false">
                            <div ng-message="required">Email is required</div>
                            <div ng-message="email">Not a valid email</div>
                        </div>
                    </md-input-container>
                    <md-input-container layout="row" layout-align="start center" >
                        <md-button type='submit' class="md-raised md-primary">Recover password</md-button>
                        <md-progress-circular md-mode="indeterminate" md-diameter="40" ng-if="$ctrl.loading"></md-progress-circular>
                    </md-input-container>
                    <div layout="colum">
                        <md-button ng-click="$ctrl.changeView($ctrl.VIEWS.LOGIN)">Go back</md-button>
                    </div>
                </form>
            </div>
        </div>
        <div class="reset-form" ng-if="$ctrl.isCurrentView($ctrl.VIEWS.RESET)" layout="row" layout-align="center center" flex="100" layout-fill>
            <div layout="column" flex="25" flex-sm="50" flex-xs="75">
                <hgroup>
                    <h1>
                        Create new password
                    </h1>
                </hgroup>
                <form name="$ctrl.resetForm" ng-submit="$ctrl.resetPassword()">
                    <md-input-container class="md-block">
                        <label>New password</label>
                        <input type="password" name="password" ng-model="$ctrl.reset.password" minlength="8" required>
                        <div ng-messages="$ctrl.resetForm.password.$error" md-auto-hide="false">
                            <div ng-message="required">A password is required</div>
                            <div ng-message="minlength">Use at least 8 characters</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Confirm new password</label>
                        <input type="password" name="confirmation" ng-model="$ctrl.reset.confirmation" pw-check="$ctrl.reset.password" required>
                        <div ng-messages="$ctrl.resetForm.confirmation.$error" md-auto-hide="false">
                            <div ng-message="required">A password is required</div>
                            <div ng-message="pwCheck">Passwords don't match</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-button type='submit' class="md-raised md-primary">Create password</md-button>
                        <md-progress-circular md-mode="indeterminate" md-diameter="40" ng-if="$ctrl.loading"></md-progress-circular>
                    </md-input-container>
                    <div layout="colum">
                        <md-button ng-click="$ctrl.changeView($ctrl.VIEWS.LOGIN)">Go back</md-button>
                    </div>
                </form>
            </div>
        </div>
        <div class="wait-form" ng-if="$ctrl.isCurrentView($ctrl.VIEWS.WAIT)">
            <p>We need to validate your information to create your account.</p>
            <p>You'll receive an email when your account is created.</p>
        </div>
    </div>
</section>