/* */
md-step-content > div {
  height: 100%; }

.step-content {
  padding: 2rem; }

.step-action {
  bottom: 8px;
  position: absolute;
  right: 8px; }

/* */
.intro-component {
  height: 100%; }

/* */
.login-component {
  left: 50%;
  max-width: 320px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%; }
  .login-component hgroup {
    display: block; }
    .login-component hgroup img {
      max-width: 26px;
      width: 100%; }
  .login-component md-input-container:not(.md-input-invalid) .md-input-message-animation {
    visibility: hidden; }
  .login-component .group-title {
    font-size: 18px; }
  .login-component .hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey; }
  .login-component .inputdemoErrorsAdvanced .hint.ng-hide,
  .login-component .inputdemoErrorsAdvanced .hint.ng-enter,
  .login-component .inputdemoErrorsAdvanced .hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0; }
  .login-component .inputdemoErrorsAdvanced .hint.ng-leave,
  .login-component .inputdemoErrorsAdvanced .hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1; }

/* */
.navigation-component h1 {
  color: white; }

.navigation-component .header img,
.navigation-component .header h2 {
  display: inline-block; }

.navigation-component .header .menu-item {
  color: white;
  cursor: pointer; }

/* */
.tile-selector-list {
  overflow-x: scroll; }

/* */
.tile-set-content {
  background: #F5F5F5; }

collection-tiles .tile-collection .tile-collection-item {
  background: white;
  cursor: pointer;
  padding: 0;
  text-align: center; }
  collection-tiles .tile-collection .tile-collection-item a.tile-content {
    box-sizing: border-box;
    display: block;
    padding: 1.5rem 0;
    position: relative;
    text-decoration: none; }
    collection-tiles .tile-collection .tile-collection-item a.tile-content:after {
      border-bottom: 10px solid #212121;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      bottom: -10px;
      content: "";
      left: 50%;
      opacity: 0;
      position: absolute;
      transform: translateX(-50%);
      height: 0;
      width: 0; }
    collection-tiles .tile-collection .tile-collection-item a.tile-content .tile-body {
      align-items: center;
      display: flex;
      margin: 0;
      min-height: 80px;
      padding: 0;
      width: 100%; }
    collection-tiles .tile-collection .tile-collection-item a.tile-content .tile-size {
      background: #2196F3;
      margin: 0 auto; }
      collection-tiles .tile-collection .tile-collection-item a.tile-content .tile-size.size-12 {
        height: 80px;
        width: 80px; }
      collection-tiles .tile-collection .tile-collection-item a.tile-content .tile-size.size-10 {
        height: 70px;
        width: 70px; }
      collection-tiles .tile-collection .tile-collection-item a.tile-content .tile-size.size-8 {
        height: 60px;
        width: 60px; }
      collection-tiles .tile-collection .tile-collection-item a.tile-content .tile-size.size-6 {
        height: 50px;
        width: 50px; }
      collection-tiles .tile-collection .tile-collection-item a.tile-content .tile-size.size-4 {
        height: 40px;
        width: 40px; }
      collection-tiles .tile-collection .tile-collection-item a.tile-content .tile-size.size-3 {
        height: 28px;
        width: 28px; }
    collection-tiles .tile-collection .tile-collection-item a.tile-content .tile-title {
      color: #9E9E9E;
      font-size: 0.9rem;
      margin: 1rem 0 0;
      padding: 0 1rem; }
  collection-tiles .tile-collection .tile-collection-item .selected-overlay {
    background: #AED581;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.2s; }
  collection-tiles .tile-collection .tile-collection-item .selected-icon {
    bottom: 10px;
    color: #8BC34A;
    content: "";
    height: 20px;
    opacity: 0;
    position: absolute;
    right: 10px;
    width: 20px;
    transition: opacity 0.2s; }
  collection-tiles .tile-collection .tile-collection-item.selected a.tile-content:after {
    opacity: 1; }
  collection-tiles .tile-collection .tile-collection-item.selected .selected-overlay {
    display: block;
    opacity: 0.1; }
  collection-tiles .tile-collection .tile-collection-item.selected .selected-icon {
    opacity: 1; }

.tile-bottom-sheet {
  background: #212121;
  box-sizing: border-box;
  display: none;
  margin: 0 1rem;
  padding: 2rem;
  width: 100%;
  transition: 1s ease; }
  .tile-bottom-sheet.collection-tile-selected {
    display: block; }
  .tile-bottom-sheet h3 {
    color: white;
    margin: 0; }
  .tile-bottom-sheet p {
    color: #BDBDBD;
    margin: 0.8rem 0 2rem; }
  .tile-bottom-sheet .tile-selector {
    display: flex;
    justify-content: space-between; }
    .tile-bottom-sheet .tile-selector .tile-item {
      background: white;
      border: 3px solid transparent;
      cursor: pointer;
      padding: 1rem;
      position: relative; }
      .tile-bottom-sheet .tile-selector .tile-item:hover:not(.selected) {
        border-color: #AED581; }
      .tile-bottom-sheet .tile-selector .tile-item .tile-image {
        width: 100%; }
      .tile-bottom-sheet .tile-selector .tile-item .tile-title {
        color: #212121;
        font-size: 0.9rem;
        margin-top: 1rem;
        text-align: center; }
      .tile-bottom-sheet .tile-selector .tile-item .selected-overlay {
        background: #AED581;
        bottom: 0;
        display: none;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: opacity 0.2s; }
      .tile-bottom-sheet .tile-selector .tile-item .selected-icon {
        bottom: 10px;
        color: #8BC34A;
        content: "";
        height: 20px;
        opacity: 0;
        position: absolute;
        right: 10px;
        width: 20px;
        transition: opacity 0.2s; }
      .tile-bottom-sheet .tile-selector .tile-item.selected .selected-overlay {
        display: block;
        opacity: 0.1; }
      .tile-bottom-sheet .tile-selector .tile-item.selected .selected-icon {
        opacity: 1; }

/* */
collection-grids {
  margin: 2rem 0; }
  collection-grids .grid-collection .grid-collection-item {
    background: white;
    cursor: pointer;
    padding: 0;
    text-align: center; }
    collection-grids .grid-collection .grid-collection-item a.grid-content {
      box-sizing: border-box;
      display: block;
      padding: 1.5rem;
      text-decoration: none; }
      collection-grids .grid-collection .grid-collection-item a.grid-content .grid-body {
        max-height: 100px;
        width: auto; }
        collection-grids .grid-collection .grid-collection-item a.grid-content .grid-body img {
          max-height: 100px;
          width: 100%; }
      collection-grids .grid-collection .grid-collection-item a.grid-content .grid-title {
        color: #9E9E9E;
        font-size: 0.9rem;
        margin: 1rem 0 0;
        padding: 0 1rem; }

/* */
tile-customizer .tile-customizer {
  background: white; }
  tile-customizer .tile-customizer .selected-tiles .tile {
    border: 1px solid #BDBDBD; }

#main {
  overflow: scroll; }

h2 {
  margin: 0; }

/*# sourceMappingURL=app.css.map */