// Vendor styles
@import "/bower_components/html5-boilerplate/dist/css/normalize.css"
@import "/bower_components/html5-boilerplate/dist/css/main.css"
@import "/bower_components/angular-material/angular-material.min.css"
@import "https://fonts.googleapis.com/icon?family=Material+Icons"
@import "/bower_components/md-steppers/dist/md-steppers.min.css"

// App styles
@import "assets/styles/base/_mixins"
@import "assets/styles/base/_typography"
@import "assets/styles/base/_variables"

// Layout styles
@import "assets/styles/layout/custom_stepper"


// Component Styles
@import "components/intro/intro"
@import "components/login/login"
@import "components/navigation/navigation"
@import "components/customizer/customizer"
@import "components/collection-tiles/collection-tiles"
@import "components/builder/builder"
@import "components/summary/summary"

// Common styles

h2
  margin: 0

tile-canvas
  cursor: url('/assets/images/bucket_cursor.png'), default

svg
  width: 100%

.cell
  cursor: default

  &.grid_selected

  &.cell_selected
    cursor: pointer

  &.cell_filled

.grid
  border: 1px solid $color-gray-600
  box-sizing: border-box
  display: block
  font-size: 0px
  height: 100vw
  margin: 0 auto
  max-height: 400px
  max-width: 400px
  text-align: center
  width: 100vw

  div.row
    box-sizing: border-box
    display: inline-block
    font-size: 0px
    margin: 0
    padding: 0
    width: 100%

    span.cell
      background-color: white
      box-sizing: border-box
      border: 1px solid $color-gray-600
      display: inline-block
      font-size: 16px
      margin: 0
      outline: none
      padding: 0
      position: relative