// App styles
@import "assets/styles/base/_mixins"
@import "assets/styles/base/_typography"
@import "assets/styles/base/_variables"

// Layout styles
@import "assets/styles/layout/custom_stepper"

// Component Styles
@import "components/intro/intro"
@import "components/login/login"
@import "components/navigation/navigation"
@import "components/customizer/customizer"
@import "components/collection-tiles/collection-tiles"
@import "components/collection-grids/collection-grids"
@import "components/tile-customizer/tile-cusomizer"

// Common styles

#main
  overflow: scroll

h2
  margin: 0

.bottom-navigation
  background: white !important
  bottom: 0
  left: 0
  position: fixed