<div role="dialog" aria-label="Add tiles!" layout="column" layout-align="center center" layout-fill>
    <div class="work-table" layout="row" layout-sm="column" layout-xs="column" layout-fill>
        <div class="customize-tile-display" layout="row" layout-align="start start" flex="60"flex-sm="100" flex-xs="100" layout-wrap>
            <h3 layout="column" flex="100">Selected tiles:</h3>
            <div class="customize-tiles-empty" ng-if="!$ctrl.getTmpSelectedTiles().length" ng-click="$ctrl.openAddTile()">
                <p layout="row">Add tiles to customize</p>
            </div>
            <div class="tile-selector-item-container" ng-if="$ctrl.getTmpSelectedTiles().length" ng-repeat="item in $ctrl.getTmpSelectedTiles()" flex="25">
                <div class="tile-selector-item" ng-click="$ctrl.customizeTile(item)">
                    <tile-button tile="{{ item }}"></tile-button>
                </div>
            </div>
        </div>
        <div class="customize-tile-selector" layout="row" flex="40" flex-sm="100" flex-xs="100" md-whiteframe="1" layout-wrap >
            <div class="customize-tile-collection" layout-wrap flex="100">
                <div class="search">
                    <md-input-container>
                        <label>Search tile by name</label>
                        <input ng-model="$ctrl.tileQuery" type="text">
                    </md-input-container>
                </div>
                <div class="customize-tile" layout="row" layout-wrap layout-padding layout-align="center">
                    <div class="customize-tile-item-container" ng-repeat="item in $ctrl.getSelectedCollectionTiles() | orderBy:'name' | filter: { name: $ctrl.tileQuery }" flex="30" flex-md="50" flex-xs="50">
                        <div class="customize-tile-item" ng-click="$ctrl.addTile(item)" md-whiteframe="1">
                            <img class="tile-image" ng-src="{{ item.url }}"/>
                            <h3 class="tile-title" ng-bind="::item.name"></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dialog-actions" layout="row" layout-align-xs="end center" flex="100">
                <md-button md-autofocus class="md-primary" ng-click="$ctrl.saveAddTile()">
                    Save
                </md-button>
            </div>
        </div>
    </div>
    <icon class="material-icons close-button" md-autofocus class="md-primary close-button" ng-click="$ctrl.closeAddTile()">&#xE14C;</icon>
</div>