// App styles
@import "../../assets/styles/base/_mixins"
@import "../../assets/styles/base/_typography"
@import "../../assets/styles/base/_variables"

builder
  .builder

    .tile-selector
      background: $color-gray-900
      margin: 0 0 1rem
      padding: 8px

      ul
        align-items: center
        display: flex
        justify-content: start
        list-style: none
        margin: 0
        padding: 0

        .tile-selector-item
          background: white
          border: 2px solid transparent
          box-sizing: border-box
          cursor: pointer
          height: auto
          margin: 0 8px
          max-width: 60px
          width: 100%

          &:hover
            border: 2px solid $color-light-green-400

          img
            width: 100%

        .tile-clone-button
          button
            background: transparent !important
            border: 2px dotted $color-gray-400
            padding: 1rem
            width: 100%

            md-icon
              color: $color-light-green-500

      .selected-tiles
        .tile
          border: 1px solid $color-gray-400


    .work-table
      .grid
        border: 1px solid $color-gray-600
        box-sizing: border-box
        display: block
        font-size: 0px
        margin: 0 auto
        max-width: 400px
        text-align: center
        width: 100%

        div.row
          box-sizing: border-box
          display: inline-block
          font-size: 0px
          margin: 0
          padding: 0
          width: 100%

          span.cell
            background-color: white
            box-sizing: border-box
            border: 1px solid $color-gray-600
            display: inline-block
            font-size: 16px
            margin: 0
            padding: 0

    .worktable-tools
      background: white

      md-list-item
        label.grid-size-selector
          cursor: pointer
          display: inline-block
          margin-right: 4px
          position: relative

          input
            display: none
            visibility: hidden

            &:checked + img
              background-color: $color-gray-200
              opacity: 0.4

          img
            border: 2px solid white
            max-width: 30px
            width: 100%

            &:hover
              border: 2px solid $color-light-green-300

          .grid-size-selector-text
            font-size: 0.6rem
            font-weight: bold
            left: 50%
            position: absolute
            top: 50%
            transform: translate(-50%, -50%)



.tile-customizer
  background: $color-gray-200
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12)
  overflow: hidden
  padding-top: 2rem
  width: 85%
  height: 85%

  .tile-tools
    background: white

    .color-picker
      align-content: flex-start
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      list-style: none
      padding: 0
      width: 100%

      .color-item
        border: 2px solid $color-gray-400
        border-radius: 50%
        height: 35px
        width: 35px