<h2 layout="row" class="md-display-1">2. Build</h2>
<p layout="row">Select and customize your tile patter:</p>
<div layout="column" class="builder" layout-align="center start" layout-margin layout-wrap flex>
    <div class="tile-selector" flex layout-fill>
        <ul>
            <li class="tile-clone-button">
                <button>
                    <md-tooltip>Add more tiles</md-tooltip>
                    <md-icon class="material-icons">&#xE147;</md-icon>
                </button>
            </li>
            <li class="tile-selector-item" ng-repeat="item in $ctrl.getSelectedTiles()" ng-click="$ctrl.customizeTile(item)">
                <tile-canvas id="tile-button-{{ item.id }}" canvasid="#canvas" tileurl="{{ item.url }}" tilexml="{{ item.xml }}"></tile-canvas>
            </li>
        </ul>
    </div>
    <div layout="column" layout="row" layout-fill layout-wrap  layout-align="center start">
        <div class="work-table" flex="45" layout-fill layout-wrap  layout-align="center start">
            <div class="grid">
                <div class="row" ng-repeat="row in $ctrl.getGrid()">
                    <div class="cell" ng-style="$ctrl.getTableStyle()" ng-repeat="col in row" ng-if="col.active"></div>
                </div>
            </div>
        </div>
        <div class="worktable-tools" flex="45" layout-fill layout-wrap ayout-align="center start" md-whiteframe="1">
            AQUI ESTAN LOS
        </div>
    </div>
</div>
<md-toolbar class="bottom-navigation">
    <div layout="row" layout-sm="column" layout-align="end center" layout-wrap layout-margin>
        <md-button ng-click="$ctrl.completeStep()">
            Next <md-icon class="material-icons">&#xE409;</md-icon>
        </md-button>
    </div>
</md-toolbar>