<h2 layout="row" class="md-display-1">2. Build</h2>
<p layout="row">Select and customize your tile patter:</p>
<div layout="column" class="builder" layout-align="center start" layout-margin layout-wrap flex>
    <div class="tile-selector" flex layout-fill>
        <ul>
            <li class="tile-clone-button" ng-click="$ctrl.openAddTile()">
                <button>
                    <md-tooltip>Add more tiles</md-tooltip>
                    <md-icon class="material-icons">&#xE147;</md-icon>
                </button>
            </li>
            <li class="customize-tiles-empty" ng-if="!$ctrl.getSelectedTiles().length" ng-click="$ctrl.openAddTile()">
                <p layout="row">Add tiles to customize</p>
            </li>
            <li class="tile-selector-item" ng-if="$ctrl.getSelectedTiles().length" ng-repeat="item in $ctrl.getSelectedTiles()" ng-class="{ true: 'selected', false: '' }[$ctrl.isSelectedTile(item)]" ng-click="$ctrl.selectTile(item)">
                <tile-button tile="{{ item }}"></tile-button>
                <div class="tile-selector-actions" md-whiteframe="1">
                    <md-icon class="material-icons" ng-click="$ctrl.callAction($event, $ctrl.ACTIONS['EDIT'].code, item)">&#xE254;</md-icon>
                    <!--md-icon class="material-icons" ng-click="$ctrl.callAction($event, $ctrl.ACTIONS['ROTATE'].code)">&#xE41A;</md-icon-->
                    <md-icon class="material-icons" ng-click="$ctrl.callAction($event, $ctrl.ACTIONS['DELETE'].code, item)">&#xE92B;</md-icon>
                </div>
                <div class="selected-overlay"></div>
                <md-icon class="material-icons selected-icon">&#xE86C;</md-icon>
            </li>
        </ul>
    </div>
    <div layout="row" layout-fill layout-wrap layout-align="center start">
        <div class="worktable-tools" flex="35" layout-fill layout-wrap ayout-align="center start" md-whiteframe="1">
            <md-list ng-cloak>
                <md-subheader class="md-no-sticky">Grid actions</md-subheader>
                <md-list-item>
                    <div class="md-list-item-text">
                        <h4>Grid size</h4>
                    </div>
                    <div class="md-secondary">
                        <label class="grid-size-selector" ng-repeat="type in $ctrl.getGridTypes()">
                            <input type="radio" ng-model="$ctrl._selectedGridType" ng-value="type" ng-change="$ctrl.setSelectedGridType(type)">
                            <img ng-src="{{ type.url }}" aria-label="{{ type.url }}">
                            <span class="grid-size-selector-text" ng-bind="::type.title"></span>
                        </label>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </div>
        <div class="work-table" flex="65" layout-fill layout-wrap layout-align="center start">
            <div class="grid">
                <div class="row" ng-style="$ctrl.getRowStyle()" ng-repeat="row in $ctrl.getGrid()" flex>
                    <span class="cell" ng-style="$ctrl.getCellStyle()" ng-repeat="cell in row" ng-if="cell.active" ng-click="$ctrl.copyTileToGrid(cell)">
                        <tile-button tile="{{ cell.tile }}" ng-if="cell.tile.id"></tile-button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<md-toolbar class="bottom-navigation">
    <div layout="row" layout-sm="column" layout-align="end center" layout-wrap layout-margin>
        <md-button ng-click="$ctrl.completeStep()">
            Next <md-icon class="material-icons">&#xE409;</md-icon>
        </md-button>
    </div>
</md-toolbar>