<div role="dialog" aria-label="Preview" layout="column" layout-align="center center" layout-fill>
    <div class="work-table" layout="row" layout-fill layout-wrap>
        <div class="tile-preview" layout="row" flex-gt-xs="70" flex-xs="100" layout-align="center center" layout-wrap>
            <previewer data="$ctrl.getGrid()" grid-size="$ctrl.getSelectedGridSize()" hex-shape="$ctrl.isHexagonalGrid()" layout-wrap></previewer>
            <div class="preview-instructions" flex="100" layout-align="center center">
                If you want to save the image, please take a screenshot. Use Command (⌘)+Shift+3 or Win+PrtScn
            </div>
        </div>
        <div class="tile-tools" layout="row" flex-gt-xs="30" flex-xs="100" layout-wrap md-whiteframe="1" layout-align="start start">
            <div class="tile-tools-wrapper" layout-wrap flex="100">
                <h3>Preview images examples</h3>
                <div class="example-images" layout="row" layout-wrap layout-align="start center">
                    <span md-whiteframe="1" ng-repeat="image in $ctrl.EXAMPLE_IMAGES" ng-click="$ctrl.setSelectedImage(image)" ng-class="{ true: 'selected', false: '' }[$ctrl.isImageSelected(image)]">
                        <img ng-src="{{ image.url }}" title="{{ image.title }}">
                        <h3 ng-bind="image.title"></h3>
                        <div class="selected-overlay"></div>
                        <md-icon class="material-icons selected-icon">&#xE86C;</md-icon>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <icon class="material-icons close-button" md-autofocus class="md-primary close-button" ng-click="$ctrl.closePreview()">&#xE14C;</icon>
</div>