<div role="dialog" aria-label="View projects" layout="column" layout-align="center center" layout-fill>
    <div class="work-table" layout="column" layout-xs="column" layout-fill>
        <h3>My designs</h3>
        <div layout="row" flex="100" ng-if="$ctrl.loading">
            <div layout-align="center center" layout="column" flex="100">
                <md-progress-circular md-mode="indeterminate" md-diameter="50"></md-progress-circular>
            </div>
        </div>
        <div ng-if="!$ctrl.loading">
            <md-input-container class="md-icon-float md-block project-search-input">
                <label>Search project by sku, name or reference</label>
                <input ng-model="$ctrl.projectQuery" type="text">
            </md-input-container>
            <md-table-container>
                <form novalidate class="form" name="$ctrl.emailForm">
                    <table md-table multiple >
                    <thead md-head md-order="$ctrl.tableQuery.order">
                        <tr md-row>
                            <th md-column><span></span></th>
                            <th md-column md-order-by="name" class="cell-40"><span>Name</span></th>
                            <th md-column md-order-by="reference" class="cell-20"><span>Reference</span></th>
                            <th md-column md-order-by="createdAt" class="cell-20"><span>Created at</span></th>
                            <th md-column md-numeric class="cell-20"><span>Actions</span></th>
                        </tr>
                    </thead>
                    <tbody md-body>  
                        <tr md-row ng-repeat="project in filteredProjects = ($ctrl.getUserProjects() | orderBy: $ctrl.tableQuery.order | filter: $ctrl.searchProject )" ng-class="{ 'show-details': project.showDetailView }">
                            <td md-cell ng-if="!project.showEmailView">
                                <md-icon class="material-icons" ng-click="$ctrl.toggleProjectDetail($event, project)" ng-if="!project.showDetailView">&#xe5cf;</md-icon>
                                <md-icon class="material-icons" ng-click="$ctrl.toggleProjectDetail($event, project)" ng-if="project.showDetailView">&#xe5ce;</md-icon>
                            </td>
                            <td md-cell ng-click="$ctrl.openProject(project)" ng-if="!project.showEmailView" ng-disabled="project.deleting" ng-class="{ 'disabled': project.deleting }" class="cell-40">
                                {{project.name}}
                                <div ng-if="project.showDetailView" style="margin-top: 6px; color: #9E9E9E;">
                                    <div ng-if="!project.tiles.length">No project details</div>
                                    <div ng-repeat="tile in project.tiles"><span ng-if="tile.sku">{{ tile.sku }} - </span>{{ tile.name }}</div>
                                </div>
                            </td>
                            <td md-cell ng-if="!project.showEmailView" ng-disabled="project.deleting" ng-class="{ 'disabled': project.deleting }" class="cell-20">{{project.description}}</td>
                            <td md-cell ng-if="!project.showEmailView" ng-disabled="project.deleting" ng-class="{ 'disabled': project.deleting }" class="cell-20">{{project.createdAtFormat}}</td>
                            <td md-cell ng-if="!project.showEmailView" ng-disabled="project.deleting" ng-class="{ 'disabled': project.deleting }" class="cell-20">
                                <div class="list-item-buttons" ng-if="!project.deleting">
                                    <md-icon class="material-icons" ng-click="$ctrl.showEmailView($event, project)">&#xE0BE;</md-icon>
                                    <md-icon class="material-icons" ng-click="$ctrl.deleteProject($event, project)">&#xE92B;</md-icon>
                                </div>
                                <div layout-align="center center" layout="column" ng-if="project.deleting">
                                    <md-progress-circular md-mode="indeterminate" md-diameter="22"></md-progress-circular>
                                </div>
                            </td>
                            <td colspan="4" class="email-row" ng-if="project.showEmailView" ng-disabled="project.sending" ng-class="{ 'disabled': project.sending }">
                                <div class="email-row-container">
                                    <md-icon class="material-icons" ng-click="$ctrl.hideEmailView($event, project)">&#xE14C;</md-icon>
    
                                    <md-input-container class="md-block" flex="100">
                                        <label>Email</label>
                                        <input type="email" name="email_{{$index}}" ng-model="project.email" required>
                                        <div ng-messages="$ctrl.emailForm['email_' + $index].$error" md-auto-hide="false">
                                            <div ng-message="required">Email is required</div>
                                            <div ng-message="email">Not a valid email</div>
                                        </div>
                                    </md-input-container>
            
                                    <div class="list-item-buttons" ng-if="!project.sending">
                                        <md-icon class="material-icons" ng-click="$ctrl.sendProject($event, project)">&#xE163;</md-icon>
                                    </div>
                                    <div layout-align="center center" layout="column" ng-if="project.sending">
                                        <md-progress-circular md-mode="indeterminate" md-diameter="22"></md-progress-circular>
                                    </div>
                                </div>
                            </td>
    
                        </tr>
                    </tbody>
                    </table>
                </form>
            </md-table-container>
        </div>
        
        <!-- <md-list ng-if="$ctrl.getUserProjects() && $ctrl.getUserProjects().length" class="work-table-list">
            <form novalidate class="form" name="$ctrl.emailForm">
                <div ng-repeat="project in $ctrl.getUserProjects() | orderBy: 'name' | filter: { name: $ctrl.projectQuery }">
                    <md-list-item class="secondary-button-padding" md-whiteframe="1" ng-if="!project.showEmailView" ng-disabled="project.deleting" ng-class="{ 'disabled': project.deleting }">
                        <p class="project-name" ng-click="$ctrl.openProject(project)">{{project.name}}</p>
                        <div class="list-item-buttons" ng-if="!project.deleting">
                            <md-icon class="material-icons" ng-click="$ctrl.showEmailView($event, project)">&#xE0BE;</md-icon>
                            <md-icon class="material-icons" ng-click="$ctrl.deleteProject($event, project)">&#xE92B;</md-icon>
                        </div>
                        <div layout-align="center center" layout="column" ng-if="project.deleting">
                            <md-progress-circular md-mode="indeterminate" md-diameter="22"></md-progress-circular>
                        </div>
                    </md-list-item>
                    <md-list-item class="secondary-button-padding" md-whiteframe="1" ng-if="project.showEmailView" ng-disabled="project.sending" ng-class="{ 'disabled': project.sending }">
                        <md-icon class="material-icons" ng-click="$ctrl.hideEmailView($event, project)">&#xE14C;</md-icon>

                        <md-input-container class="md-block" flex="100">
                            <label>Email</label>
                            <input type="email" name="email_{{$index}}" ng-model="project.email" required>
                            <div ng-messages="$ctrl.emailForm['email_' + $index].$error" md-auto-hide="false">
                                <div ng-message="required">Email is required</div>
                                <div ng-message="email">Not a valid email</div>
                            </div>
                        </md-input-container>

                        <div class="list-item-buttons" ng-if="!project.sending">
                            <md-icon class="material-icons" ng-click="$ctrl.sendProject($event, project)">&#xE163;</md-icon>
                        </div>
                        <div layout-align="center center" layout="column" ng-if="project.sending">
                            <md-progress-circular md-mode="indeterminate" md-diameter="22"></md-progress-circular>
                        </div>
                    </md-list-item>
                </div>
            </form>
        </md-list> -->
        
        <p ng-if="$ctrl.getUserProjects() && !$ctrl.getUserProjects().length">You haven't saved any designs yet</p>
    </div>
    <icon class="material-icons close-button" md-autofocus class="md-primary close-button" ng-click="$ctrl.closeProjectsView()">&#xE14C;</icon>
</div>