<div role="dialog" aria-label="View projects" layout="column" layout-align="center center" layout-fill>
    <div class="work-table" layout="column" layout-xs="column" layout-fill>
        <h3>My designs</h3>
        <div layout="row" flex="100" ng-if="$ctrl.loading">
            <div layout-align="center center" layout="column" flex="100">
                <md-progress-circular md-mode="indeterminate" md-diameter="100"></md-progress-circular>
            </div>
        </div>
        <md-list ng-if="$ctrl.getUserProjects() && $ctrl.getUserProjects().length" class="work-table-list">
            <md-list-item class="secondary-button-padding" md-whiteframe="1" ng-repeat="project in $ctrl.getUserProjects() | orderBy: 'name'" ng-click="$ctrl.openProject(project)" ng-disabled="project.deleting">
                <md-icon class="material-icons">&#xE415;</md-icon>
                <p class="project-name">{{project.name}}</p>
                <md-button class="md-secondary" ng-click="$ctrl.deleteProject(project)" ng-if="!project.deleting">Delete</md-button>
                <div layout-align="center center" layout="column" ng-if="project.deleting">
                    <md-progress-circular md-mode="indeterminate" md-diameter="45"></md-progress-circular>
                </div>
            </md-list-item>
        </md-list>
        <p ng-if="$ctrl.getUserProjects() && !$ctrl.getUserProjects().length">You haven't saved any designs yet</p>
    </div>
    <icon class="material-icons close-button" md-autofocus class="md-primary close-button" ng-click="$ctrl.closeProjectsView()">&#xE14C;</icon>
</div>