// App styles
@import "../../assets/styles/base/_mixins"
@import "../../assets/styles/base/_typography"
@import "../../assets/styles/base/_variables"

summary-component
  .summary

    .grid
      border: 1px solid $color-gray-600
      box-sizing: border-box
      display: block
      font-size: 0px
      height: 100vw
      margin: 0 auto
      max-height: 400px
      max-width: 400px
      text-align: center
      width: 100vw

      div.row
        box-sizing: border-box
        display: inline-block
        font-size: 0px
        margin: 0
        padding: 0
        width: 100%

        span.cell
          background-color: white
          box-sizing: border-box
          border: 1px solid $color-gray-600
          display: inline-block
          font-size: 16px
          margin: 0
          outline: none
          padding: 0
          position: relative

    .tile-list
      background: white
      padding: 0 16px

      .dialog-content
        padding: 0 16px

      ul
        list-style: none
        margin: 0
        padding: 0

        >li
          box-sizing: border-box
          display: flex
          padding: 8px 0 16px
          width: 100%

          /*.info
            align-items: baseline
            display: flex
            justify-content: flex-start
            padding: 0 16px
            width: 85%

          /*.count
            font-size: 2rem
            color: $color-gray-900
            margin-right: 32px

          /*li.color-item
            align-items: center
            border: none
            display: flex
            justify-content: flex-start
            overflow: hidden
            text-align: center
            width: 100%

            .color
              border: 1px solid $color-gray-600
              border-radius: 50%
              display: inline-block
              margin-right: 16px
              position: relative
              height: 30px
              width: 30px

            .color-name
              color: $color-gray-700
              display: block
              font-size: 0.8rem

            .color-value
              color: $color-gray-600
              display: block
              font-size: 0.8rem
              margin-right: 8px

          &:last-child
            border-bottom: none

@media (max-width: 599px)
  .summary
    .grid
      margin-top: 1rem !important
      max-height: 75vw !important
      max-width: 75vw !important

    .tile-list
      margin-top: 1rem