<div class="step-container-wrapper">
    <h2 class="md-display-1" hide-gt-sm>3. Summary</h2>
    <p>This is a summary of your design:</p>
    <div layout="row" class="summary" layout-align="center start" layout-fill layout-wrap flex>
        <div class="grid-container" flex="65" flex-sm="100" flex-xs="100" layout-fill layout-wrap layout-align="center start">
            <div class="grid" ng-class="$ctrl.getGridClasses()">
                <div class="row" ng-style="$ctrl.getRowStyle(row, $index)" ng-repeat="row in $ctrl.getGrid()" flex>
                    <span class="cell" ng-style="$ctrl.getCellStyle()" ng-repeat="cell in row" ng-if="cell.active && !$ctrl.isHexagonalGrid()">
                        <tile-grid tile="cell.tile" tile-shape="cell.tile.shape" cell-id="cell.id" ng-if="cell.tile.id"></tile-grid>
                    </span>
                    <div class="hex-container" ng-style="$ctrl.getCellStyle()" ng-repeat="cell in row" ng-if="cell.active && $ctrl.isHexagonalGrid()">
                        <div class="hex-out">
                            <div class="hex-in">
                                <span class="cell">
                                    <tile-grid tile="cell.tile" tile-shape="cell.tile.shape" cell-id="cell.id" ng-if="cell.tile.id"></tile-grid>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tile-list" class="tile-list" flex="35" flex-sm="100" flex-xs="100" layout-wrap md-whiteframe="1">
            <div class="dialog-content">
                <h3>List of tiles</h3>
                <table ng-repeat="tile in $ctrl.getTileDetails()">
                    <tr class="tile-row">
                        <td class="tile-details-container">
                            <div>
                                <div class="tile-cell">
                                    <tile-button class="tile" tile="{{ tile }}" ng-if="tile.id" style="width: 100%; display: block;"></tile-button>
                                </div>
                                <div class="count">x <span class="tile-count">{{ tile.count }}</span></div>
                            </div>
                            <div class="tile-name">{{ tile.name }}</div>
                            <div class="tile-sku">{{ tile.sku }}</div>
                        </td>
                        <td class="tile-colors-container" ng-if="tile.proccessedColors.length > 0">
                            <div class="tile-colors">
                                <table class="color-item" ng-repeat="color in tile.proccessedColors">
                                    <tr style="vertical-align: top;">
                                        <td class="color" style="vertical-align: middle; width: 30px;"><span class="color" ng-style="::color.style"></span></td>
                                        <td class="color-name" style="vertical-align: middle; text-align: left;"><span class="color-name">{{ ::color.name }}</span></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td class="tile-colors-container" colspan="3" ng-if="!tile.proccessedColors.length > 0">No colors selected</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<md-toolbar class="bottom-navigation">
    <div layout="row" layout-align="center center">
        <div flex="50" layout="row" layout-align="start center" layout-margin>
            <md-button ng-click="$ctrl.prevStep($event)">
                <md-icon class="material-icons">&#xE314;</md-icon> Previous
            </md-button>
        </div>
        <div flex="50" layout="row" layout-align="end center" layout-margin>
            <md-button md-autofocus class="md-primary" ng-click="$ctrl.promptSaveProject()">
                Save design
            </md-button>
        </div>
    </div>
</md-toolbar>