// App styles
@import "../../assets/styles/base/_mixins"
@import "../../assets/styles/base/_typography"
@import "../../assets/styles/base/_variables"

summary-component
  .summary

    .grid
      border: 1px solid $color-gray-600
      box-sizing: border-box
      display: block
      font-size: 0px
      height: 100vw
      margin: 0 auto
      max-height: 400px
      max-width: 400px
      text-align: center
      width: 100vw

      div.row
        box-sizing: border-box
        display: inline-block
        font-size: 0px
        margin: 0
        padding: 0
        width: 100%

        span.cell
          background-color: white
          box-sizing: border-box
          border: 1px solid $color-gray-600
          display: inline-block
          font-size: 16px
          margin: 0
          outline: none
          padding: 0
          position: relative

    .tile-list
      background: white

      ul
        list-style: none
        margin: 0
        padding: 0

        li
          box-sizing: border-box
          border-bottom: 1px solid $color-gray-400
          display: flex
          padding: 8px 0
          width: 100%

          .tile
            border: 1px solid $color-gray-200
            width: 15%

          .info
            align-items: center
            display: flex
            justify-content: flex-start
            padding: 0 16px
            width: 85%

            .count
              font-size: 2rem
              color: $color-gray-900
              margin-right: 32px

            .color-item
              margin-left: 8px
              overflow: hidden
              text-align: center

              .color
                border-radius: 50%
                display: inline-block
                cursor: pointer
                margin-top: 2px
                position: relative
                height: 30px
                width: 30px

              .color-name
                color: $color-gray-600
                display: block
                font-size: 0.5rem

          &:last-child
            border-bottom: none

@media (max-width: 599px)
  .summary
    .grid
      margin-top: 1rem !important
      max-height: 75vw !important
      max-width: 75vw !important

    .tile-list
      margin-top: 1rem