<div class="step-container-wrapper">
    <h2 class="md-display-1" hide-gt-sm>3. Summary</h2>
    <p>This is a summary of your design:</p>
    <div layout="column" class="summary" layout-align="center start" layout-margin layout-wrap flex>
        <div layout="row" layout-fill layout-wrap>
            <div layout="row" flex="50" flex-xs="100">
                <div id="summary-grid" class="grid" ng-class="{ 'hex-grid' : $ctrl.isSelectedCollectionHex() }">
                    <div class="row" ng-style="$ctrl.getRowStyle(row, $index)" ng-repeat="row in $ctrl.getGrid()" flex>
                        <span class="cell" ng-style="$ctrl.getCellStyle()" ng-repeat="cell in row" ng-if="cell.active && !$ctrl.isSelectedCollectionHex()">
                            <tile-grid tile="cell.tile" tile-shape="cell.shape" cell-id="cell.id" ng-if="cell.tile.id"></tile-grid>
                        </span>
                        <div class="hex-container" ng-style="$ctrl.getCellStyle()" ng-repeat="cell in row" ng-if="cell.active && $ctrl.isSelectedCollectionHex()">
                            <div class="hex-out">
                                <div class="hex-in">
                                    <span class="cell">
                                        <tile-grid tile="cell.tile" tile-shape="cell.shape" cell-id="cell.id" ng-if="cell.tile.id"></tile-grid>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tile-list" class="tile-list" layout="column" flex="50" flex-xs="100" layout-fill layout-padding>
                <div class="dialog-content">
                    <h3>List of tiles</h3>
                    <table style="width: 100%; border-collapse:separate; border-spacing: 0px 16px;" ng-repeat="tile in $ctrl.getTileDetails()">
                        <tr class="tile-row">
                            <td class="tile-cell" style="width: 76px; vertical-align: top; padding-right: 8px;">
                                <tile-button class="tile" tile="{{ tile }}" ng-if="tile.id" style="width: 100%; display: block;"></tile-button>
                            </td>
                            <td class="tile-name" style="display: none">{{ tile.name }}</td>
                            <td class="count" style="font-size: 2rem; color: #212121; margin-right: 32px; vertical-align: top; width: 60px;">x <span class="tile-count">{{ tile.count }}</span></td>
                            <td class="tile-colors" ng-if="tile.proccessedColors.length > 0" style="vertical-align: top;">
                                <table class="color-item" ng-repeat="color in tile.proccessedColors">
                                    <tr style="vertical-align: top;">
                                        <td class="color" style="vertical-align: middle; width: 30px;"><span class="color" ng-style="::color.style"></span></td>
                                        <td class="color-name" style="vertical-align: middle; text-align: left;"><span class="color-name">{{ ::color.name }}</span></td>
                                    </tr>
                                </table>
                            </td>
                            <td colspan="3" ng-if="!tile.proccessedColors.length > 0" style="vertical-align: top; padding-top: 10px;">No colors selected</td>
                        </tr>
                    </table>
                    <div class="dialog-actions" layout="row" layout-align-xs="end center" flex="100">
                        <md-button md-autofocus class="md-primary" ng-click="$ctrl.promptSaveProject()">
                            Save design
                        </md-button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<md-toolbar class="bottom-navigation">
    <div layout="row" layout-align="center center" layout-wrap>
        <div flex="100" layout="row" layout-align="start center" layout-wrap layout-margin>
            <md-button ng-click="$ctrl.prevStep($event)">
                <md-icon class="material-icons">&#xE314;</md-icon> Previous
            </md-button>
        </div>
        <!--div flex="49" layout="row" layout-align="end center" layout-wrap layout-margin>
            <md-button ng-click="$ctrl.completeStep()" ng-disabled="$ctrl.isDisabled()">
                Next <md-icon class="material-icons">&#xE409;</md-icon>
            </md-button>
        </div-->
    </div>
</md-toolbar>